{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
      <h2 class="text-center">Log In</h2>
      {% if messages %}

            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
      
        {% endif %}
          <div class="card-text">

      <form method="post" novalidate="">
        {% csrf_token %}
        {{ form| crispy}}

        <button type="submit" class="btn btn-dark">Log In</button>
        Don't have an account?
        <div class="signup row justify-content-center">
          <hr class="justify-content-center">
        <a href="{% url 'signup' %}" class="btn btn-link mr-5" >Register First!</a>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
