{% extends "base.html"%}

    {% block content %}


    
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body text-light bg-dark">
            <h3 class="card-title display-4 text-success text-center">Your Email is verified </h3>
            <div class="card-text display-5 text-info text-center">
                Please login
            </div>
            <br>
            <div class="text-center">
            <a class="btn btn-primary " href="{% url 'login' %}" >Login</a>
</div>
        </div>
    </div>
    </div>


    {% endblock %}